body {
  background-color: white;
}


/*NAVIGATION*/
#menu {
  float: right;
  width: 60%;
  height: 35px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;;
  font-weight: thin;
  text-align: center;
  /*background-color: rgba(196, 196, 196, 0.5);*/
}

#menu ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}

#menu li {
  display: inline;
  border-top: 1px solid black;
  font-family: 'Muli', sans-serif;
  padding: 0px 20px;
}

#menu a {
  text-decoration: none;
  color: black;
  padding: 8px 8px 8px 8px;
}

#menu a:hover {
  color: rgb(196, 196, 196);
}

/*HEADER*/
header {
  clear: right;
  height: 115px;
  width: 100%;
  border-bottom: 1px solid black;
}


/*INDEX.HTML PAGE*/
#name {
  text-align: left;
  width: 40%;
  padding-top: 20px;
  font-family: 'Yeseva One', cursive;
  font-size: 75px;
  /*letter-spacing: 2em;*/
}

#lede {
  width: 40%;
  clear: left;
  float: right;
}

#img {
  height: 300px;
  width: 100%;
  text-align: center;
  background-color: #CAB2FF;
  border-radius: 8px;
}

#imgtext {
  padding-top: 75px;
  font-family: 'Yeseva One', cursive;
}

h3 {
  font-family: 'Yeseva One', cursive;
  font-size: 18px;
}

#mini {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  font-family: 'Muli', sans-serif;
  font-style: thin;
}

#img2 {
  clear: right;
  height: 300px;
  width: 100%;
  text-align: center;
  background-color: #CAB2FF;
  border-radius: 8px;
  margin-bottom: 10px;
}

/*PROJECTS.HTML PAGE*/

#projectList h3 {
  font-family: 'Yeseva One', cursive;
}

#projectList a {
  text-decoration: none;
  font-family: 'Muli', sans-serif;
}

/* REUSME.HTML PAGE */

#resume {
  margin-left: 45px;
  margin-top: 20px;
}

#resume h3 {
  font-family: 'Yeseva One', cursive;
  font-weight: bold;
}

#resume h4 {
  font-family: 'Yeseva One', cursive;
  font-weight: bold;
}

#resume p {
  font-family: 'Muli', sans-serif;
}

#resume ul {
  width: 70%;
  font-family: 'Muli', sans-serif;
}

/*footer*/
#footer {
  border-top: 1px solid black;
  clear: right;
  padding-top: 7px;
}

#footer li {
  display: inline;
  padding: 20px;
}

#icons {
  text-align: center;
}