<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alli Cernoch - Porfolio</title>
  <!-- jquery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- local css -->
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <!-- fonts -->
 <link href='http://fonts.googleapis.com/css?family=Yeseva+One' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>


</head>
<body>
   <nav id="menu">
    <ul>
      <li><a href="index.html">home</a></li>
      <li><a href="resume.html">resume</a></li>
      <li><a href="projects.html">sandbox</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </nav>

  <header>
    <h1 id="name">Hello!</h1>
   <!-- <p id="lede">This site features Alli Cernoch's portfolio.</p>-->
  </header>



  <div id="img">
    <p id="imgtext">texty text</p>
  </div>

  <div id="mini">
    <div id="mini1">
      <h3>the highlights</h3>
        <p>Fugiat ea Vice sartorial, literally art party dreamcatcher roof party try-hard fingerstache keffiyeh wayfarers. Selfies gluten-free Helvetica, in occaecat elit laboris ethical trust fund ugh et shabby chic quis butcher. PBR fap cardigan whatever ad sed dolor.
        </p>
    </div>
    <div id="mini2">
      <h3>the highlights</h3>
        <p>Fugiat ea Vice sartorial, literally art party dreamcatcher roof party try-hard fingerstache keffiyeh wayfarers. Selfies gluten-free Helvetica, in occaecat elit laboris ethical trust fund ugh et shabby chic quis butcher. PBR fap cardigan whatever ad sed dolor.
        </p>
    </div>
    <div id="mini3">
      <h3>the highlights</h3>
        <p>Fugiat ea Vice sartorial, literally art party dreamcatcher roof party try-hard fingerstache keffiyeh wayfarers. Selfies gluten-free Helvetica, in occaecat elit laboris ethical trust fund ugh et shabby chic quis butcher. PBR fap cardigan whatever ad sed dolor.
        </p>
    </div>
  </div>

  <div id="img2">
    <p id="imgtext">texty text</p>
  </div>

  <footer id="footer">
    <div id="icons">
      <ul>
        <li><img src="../style/images/linkedin_icon.png"></li>
        <li><img src="../style/images/github_icon.png"></li>
        <li><img src="../style/images/twitter_48.png"></li>
        <li><img src="../style/images/instagram_icon.png"></li>
      </ul>
    </div>
  </footer>


</body>
</html>