<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alli Cernoch's Projects</title>

  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <!-- fonts -->
 <link href='http://fonts.googleapis.com/css?family=Yeseva+One' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>

</head>
<body>

  <nav id="menu">
    <ul>
      <li><a href="index.html">home</a></li>
      <li><a href="resume.html">resume</a></li>
      <li><a href="projects.html">sandbox</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </nav>

  <header>
    <h1 id="name">Sandbox</h1>
   <!-- <p id="lede">This site features Alli Cernoch's portfolio.</p>-->
  </header>

  <div id="projectList">
    <h3>Created using jQuery: </h3>

    <a href="projects/colorplay/colorplay.html">Color Play</a>

    <h3>Created using Parallax.js: </h3>
    <a href="projects/shakespeare/curtain.html">A Midsummer Night's Dream</a>
  </div>






  <footer id="footer">
    <div id="icons">
      <ul>
        <li><img src="../style/images/linkedin_icon.png"></li>
        <li><img src="../style/images/github_icon.png"></li>
        <li><img src="../style/images/twitter_48.png"></li>
        <li><img src="../style/images/instagram_icon.png"></li>
      </ul>
    </div>
  </footer>

</body>
</html>