<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>fun fun test</title>
  <!-- jquery -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/myjquery.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="style/style.css">

</head>

<body>

  <nav>
      <a href="../../index.html">home</a>
      <a href="../../projects.html">sandbox</a>
  </nav>

  <h1>
    <span id ="letterC">c</span>
    <span id ="letterO">o</span>
    <span id ="letterL">l</span>
    <span id ="letterO">o</span>
    <span id ="letterR">r</span>

    <span id ="letterP">p</span>
    <span id ="letterL">l</span>
    <span id ="letterA">a</span>
    <span id ="letterY">y</span>
  </h1>

  <div id="main">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>





</body>
</html>